/*if you want the name to be at the top press h1{ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* don't put box-sizing: border-box if you are going to use dropdown*/
}
body {
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif; /* Add a font-family for readability */
    color: aliceblue;
    margin: 0;
}

header{
    background-color:black;
    text-align: center;
    padding: 10px 0;
    
    
}

.logo{
    width: 250px;
    height: auto;
    padding: 30x;
}


h1{
    
    font-size: medium;
    color: gold;
    text-align: justify;
    
}


.navbar ul{
   background-color: black;
   align-items: center;
   justify-content: space-between;
   /*to remove bullets*/
   list-style:none;
   display: flex;

}
.navbar li{
    position: relative;
    


}


.navbar ul li a{
    color: gold;
    padding-bottom: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: block;

}
        
.navbar a:hover{
    color:white;
    transition: all 0.3s ease;


}



.navbar ul li ul.dropdown li {
    display:block ;
    

}



.navbar ul li ul.dropdown  {
    width: 200px; /* Adjust for proper sizing */
    background-color: black;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    display: none;
    padding: 10px 0;

}

.navbar ul li:hover ul.dropdown{
    display: block;
}


.fa.fa-search{
    color: white;

}

.fa.fa-shopping-cart{

    color: white;

}

.fa.fa-bars{
    color: white;

}

.hero-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;

}

.hero-section.content{
    max-width: 1200px;
    margin: 0 auto;


}

.hero-section.content h1{
    font-size: 3rem;
    max-width: 600px;

}
.hero-section.content p{
    font-weight: 300;
    margin-top: 15px;
    max-width: 600px;
    color: aliceblue;

}




